.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.title {
  margin: 0;
  padding: 0;
  text-align: left;
  max-width: 506px;
  font-size: 44px;
  color: #21243d;
  margin-top: 228px;
}
.desc {
  text-align: left;
  max-width: 497px;
  color: #21243d;
  height: 66px;
  margin-top: 30px;
}
.btn {
  background-color: #ff7f50;
  color: white;
  border-radius: 2px;
  border: none;
  padding: 12px 20px;
  font-size: 20px;
  border-color: #ff7f50;
  margin-top: 30px;
}
